# Ignore Python environment
llm_rag_test_faiss/

# Ignore secrets and environment files
.env
.streamlit/secrets.toml

# Ignore compiled Python files
__pycache__/
*.pyc

# Do NOT ignore ingest.py or faiss_index/
